@import './normalize.scss';
@import './mixin.scss';
@import './variable.scss';



html {
  width: 100%;
  height: 150vh;
}

//common style

//div 아래 밑줄
.content-box-border-top{
  border-top: 1px solid #dadada;
}


/////

#overay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;

  &.--open {
    display: block;
  }
}

@include mobile {

  .toggle-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    overflow-x: hidden;
    .hamburger-checker {
      position: fixed;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;


      &:checked ~ .hamburger-container .line {
        background-color: $blackYello;
      }
      &:checked ~ .hamburger-container .line1 {
        transform: rotate(45deg);
      }

      &:checked ~ .hamburger-container .line2 {
        transform: scaleY(0);
      }

      &:checked ~ .hamburger-container .line3 {
        transform: rotate(-45deg);
      }
    }
    .hamburger-container{
      display: block;
      height: 26px;
      width: 32px;
      position: fixed;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }

      .line.line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      .line.line2{
        transition: transform 0.2s ease-in-out;
      }
      .line.line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
    }
  }

  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 9px 0;
    background: white;

    display: flex;
    align-items: center;

    z-index: 2;

    &.box-shadow{
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.30);
    }

    .header-wrapper {
      display: flex;
      flex-grow: 0;
      justify-content: start;
      margin: 0 auto;
      margin-left: 70px;

      .text {
        font-size: 2rem;
        font-weight: 600;
      }
    }


  }

  .nav-container {
    background-color: #212020;
    position: fixed;
    width: 100vw;
    height: 100vh;

    transition: left 0.5s;
    left: -100vw;
    opacity: 0;

    z-index: 2;
    &.--open {
      left: 0;
      opacity: 1;
    }

    overflow-x: hidden;

    padding-top: 22px;

    color: #fff;
    .nav-wrapper {
      padding-right: 2em;
      padding-left: 108px;
      visibility: none;

      .default-padding {
        padding: 2em 0;
      }

      .nav-header {
        display: flex;
        flex-grow: 0;
        justify-content: start;
        margin: 0 auto;

        .text {
          font-size: 2rem;
          font-weight: 600;
        }
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        a {
          color: white;
          font-family: "GTAmerica-Regular", Helvetica, Arial, serif;
          margin: 0;

          font-weight: 100;
          font-family: "GTAmerica-Regular", Helvetica, Arial, serif;
          font-size: 34px;
          letter-spacing: -1px;
          line-height: 44px;

          &:hover { background-color: $blackYello;}
        }
      }

      .nav-personal-menu {
        margin-bottom: 2em;
        span {
          font-size: 1.3em;
          line-height: 1.6;

          &:hover {
            background-color: $blackYello;
            cursor: pointer;
          }
        }
      }

      .nav-site-info-wrapper{
        display: flex;
        flex-direction: column;
        a {
          color: #fff;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.5px;
        }
      }

      .nav-footer {
        margin-top: 3em;
        .text {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
  .page-wrpaper {
    height: 100vh;
    padding: 5vh 5vw 10vh;

    .intro-wrapper {
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .intro-content-wrapper {
        margin: 0 auto;
        img {
          width: 90vw;
          background-size: cover;
        }
      }
      .intro-footer {
        position: absolute;
        bottom: 30px;
        font-size: 34px;
        font-weight: 500;
      }
    }

    .about-text-wrapper {
      line-height: 1.5em;
      margin-bottom: 1em;
      margin-top: 5rem;
      .text {
        text-indent: 8em;
        display: inline;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 1.5em;

        &:before {
          content: "About";
          padding-right: 3em;
          letter-spacing: 0;
          font-family: "GTAmerica-Medium", Helvetica, Arial, serif;
        }
      }

      .view-more-info-button {
        display: block;
        margin-top: 1em;
      }
    }
  }
}

@include pc {
  .toggle-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    overflow-x: hidden;
    .hamburger-checker {
      position: fixed;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;


      &:checked ~ .hamburger-container .line {
        background-color: $blackYello;
      }
      &:checked ~ .hamburger-container .line1 {
        transform: rotate(45deg);
      }

      &:checked ~ .hamburger-container .line2 {
        transform: scaleY(0);
      }

      &:checked ~ .hamburger-container .line3 {
        transform: rotate(-45deg);
      }
    }
    .hamburger-container{
      display: block;
      height: 26px;
      width: 32px;
      position: fixed;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }

      .line.line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      .line.line2{
        transition: transform 0.2s ease-in-out;
      }
      .line.line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
    }
  }

  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 9px 0;

    display: flex;
    align-items: center;

    &.box-shadow{
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.30);
    }

    .header-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin: 0 auto;
      margin-left: 70px;
      margin-right: 70px;

      font-size: 3.5rem;

      .text {
        font-size: inherit;
        font-weight: 600;
      }

      &.--scrolled {
        flex-grow: none;
        justify-content: flex-start;
        margin-right: 0;

        font-size: 2rem;
      }
    }
  }

  .nav-container {
    background-color: #212020;
    position: fixed;
    width: 512px;
    height: 100vh;

    transition: left 0.5s;
    left: -100vw;
    z-index: 9;

    opacity: 0;


    &.--open {
      left: 0;

      opacity: 1;
    }

    overflow-x: hidden;

    padding-top: 22px;

    color: #fff;
    .nav-wrapper {
      padding-right: 2em;
      padding-left: 108px;

      .default-padding {
        padding: 2em 0;
      }

      .nav-header {
        display: flex;
        flex-grow: 0;
        justify-content: start;
        margin: 0 auto;

        .text {
          font-size: 2rem;
          font-weight: 600;
        }
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        a {
          color: white;
          font-family: "GTAmerica-Regular", Helvetica, Arial, serif;
          margin: 0;

          font-weight: 100;
          font-family: "GTAmerica-Regular", Helvetica, Arial, serif;
          font-size: 34px;
          letter-spacing: -1px;
          line-height: 44px;

          &:hover { background-color: $blackYello;}
        }
      }

      .nav-personal-menu {
        margin-bottom: 2em;
        span {
          font-size: 1.3em;
          line-height: 1.6;

          &:hover {
            background-color: $blackYello;
            cursor: pointer;
          }
        }
      }

      .nav-site-info-wrapper{
        display: flex;
        flex-direction: column;
        a {
          color: #fff;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.5px;
        }
      }

      .nav-footer {
        margin-top: 3em;
        .text {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
  .page-wrpaper {
    height: 100vh;
  }
}