

$backgroundColor: #030303;

//header
$headerHeight: 64px;
$headerFontColor:#696969;
$headerFontSize: 20px;


//content common

$contentWidth: 1150px;
$contentWidth-M: calc(100vw - 17px - 112px);


//footer

$footerBackGroundColor: #212121;

$footerHeight: 72px;

$footer-play-box-width: 292px;
$footer-play-box-width-M: 144px;