@import './normalize.scss';
@import './variable.scss';
@import './screen.scss';


.fake-content {
  background-color: azure;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

.emblem { width: 30px; height: 30px;}

.formatted-string {
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 400;
  color: #b3b3b3;
}

.formatted-string.small {
  font-size: 0.750rem;
}

.radius-button-wrapper{
  display: flex;
  align-items: center;
  border-radius: 18px;

  height: 2.25rem;
  margin: 0;
  padding: 0 1rem;

  cursor: pointer;
}

.icon-box{
  width: 40px; height: 40px; margin-left: -6px; margin-right: 6px; padding: 8px;
}
.icon-box-medium{
  width: 48px; height: 48px; margin-left: -6px; margin-right: 6px; padding: 8px;
}

.icon-box.no-left-margin{
  margin: 0 6px 0 0;
}

.km-layout{

  background-color: $backgroundColor;
  // height: 100vh;
  position: relative;
  .km-header-wrapper {
    position: fixed;
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $headerHeight;

    padding: 8px 16px;

    color: $headerFontColor;
    font-size: $headerFontSize;
    font-family: sans-serif;
    font-weight: 500;

    //헤더 로코 클래스
    .km-header-logo {
      width: 80px;
      height: 24px;
      background-image: url('https://img.freepik.com/free-vector/white-3d-editable-vector-text-effect_53876-110938.jpg?w=2000');
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: contain;
    }


    //헤더 nav menu wrapper
    .km-header-menu-wrapper {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;


      .km-header-menu-item{
        color: $headerFontColor;
        fill: $headerFontColor;
        margin: 0 22px;
        cursor: pointer;
      }

      .km-header-menu-item:hover {
        color: #fff;
        fill: #fff;
      }
    }

    .km-header-personal-btn {
      img {
        border-radius: 50%;
        background-size: contain;
      }
    }

  }

  .km-content-container {
    padding-top: $headerHeight;
    padding-bottom:  $footerHeight;
    width: 100%;
    height: 100%;

    .km-detail-header-wrapper {
      padding-bottom: 24px;

      .km-detail-header-container {
        width: $contentWidth;
        margin: 24px auto 0 auto;

        display: grid;
        grid-template-columns: 240px 1fr;
        grid-gap: 24px 48px;

        grid-template-areas:
        "detail-header-thumbnail detail-header-metadata"
        "detail-header-thumbnail detail-header-menu";

        .km-detail-header-thumbnail {
          width: 240px;
          height: 240px;

          grid-area: detail-header-thumbnail;

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }

        .km-detail-header-metadata {
          grid-area: detail-header-metadata;

          display: flex;
          flex-direction: column;
          // justify-content: end;
          align-self: end;

          .title {
            font-family: sans-serif;
            color: #fff;
            font-weight: 600;
            padding-bottom: 1rem;
          }

          .description {
            margin-top: 0.875rem;
          }
        }
        .km-detail-header-menu {
          grid-area: detail-header-menu;

          display: flex;
          align-items: start;

          .shuffle-btn{
            background-color: #fff;
            color: black;
          }

          .modify-btn{
            border-color: #353535;
            background: transparent;
            color: #fff;
          }


        }
      }
    }

    .km-song-container {
      width: $contentWidth;

      margin: 0 auto 72px auto;

      .song-wrapper {
        width: 100%;

        .song {
          display: flex;
          margin-bottom: 5px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding: 5px 0;
          align-items: center;
          width: 100%;

          .song-thumbnail{
            width: 32px;
            height: 32px;

            margin-right: 24px;

            img {
              width: 100%;
              height: 100%;
            }

          }

          .song-title {
            font-family: sans-serif;
            color: white;
            font-weight: 550;

            flex-grow:5;
          }

          .song-artist{
            flex-grow:3;
          }

          .song-albumname {
            flex-grow:3;
          }

          .song-button-wrapper{
            flex-grow:3;
            display: flex;
          }

          .song-time{
            flex-grow:1;
          }
        }
      }
    }
  }

  .km-footer-wrapper {
    position: fixed;
    width: 100vw;
    height: $footerHeight;
    background-color: $footerBackGroundColor;
    z-index: 3;
    bottom: 0;
    left: 0;

    .footer-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .footer-play-box {
        width: $footer-play-box-width;
        display: flex;
        align-items: center;
        .left-control-box {
          display: flex;
          align-items: center;

          .left-control-item {
            box-sizing: content-box;
            padding: 8px;
            margin-left: 8px;
            width: 24px;
            height: 24px;
          }

          .left-control-item.medium {
            width: 40px;
            height: 40px;
          }

          .left-playtime-box {
            margin: 0 10px;
          }
        }
      }

      .footer-song-box {
        flex-grow: 1;

        display: flex;
        justify-content: center;

        .footer-thumbnail {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }

        .footer-song-info-box {
          margin: 0 16px;

          .song-title {
            color: #fff;
            font-family: sans-serif;
            color: white;
            font-weight: 500;

            flex-grow:5;
          }
        }

        .footer-middle-control-box {
          display: flex;
        }
      }

      .footer-setting-box {
        width: $footer-play-box-width;
        margin-right: 10px;
        display: flex;
        justify-content: end;
      }
    }



  }
}


