@import './normalize.scss';
@import './variable.scss';


.fake-content {
  background-color: azure;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

.emblem { width: 30px; height: 30px;}

.km-layout{

  background-color: $backgroundColor;
  height: 100vh;
  .km-header-wrapper {
    position: fixed;
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $headerHeight;

    padding: 8px 16px;

    color: $headerFontColor;
    font-size: $headerFontSize;
    font-family: sans-serif;
    font-weight: 500;

    //헤더 로코 클래스
    .km-header-logo {
      width: 80px;
      height: 24px;
      background-image: url('https://img.freepik.com/free-vector/white-3d-editable-vector-text-effect_53876-110938.jpg?w=2000');
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: contain;
    }


    //헤더 nav menu wrapper
    .km-header-menu-wrapper {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;


      .km-header-menu-item{
        color: $headerFontColor;
        fill: $headerFontColor;
        margin: 0 22px;
        cursor: pointer;
      }

      .km-header-menu-item:hover {
        color: #fff;
        fill: #fff;
      }
    }

    .km-header-personal-btn {
      img {
        border-radius: 50%;
        background-size: contain;
      }
    }

  }

  .km-content-container {
    padding-top: $headerHeight;
    width: 100%;
    height: 100%;


    .km-detail-header-wrapper {
      padding-bottom: 24px;

      .km-detail-header-container {
        width: $contentWidth;
        margin: 24px auto 0 auto;

        display: grid;
        grid-template-columns: 240px 1fr;
        grid-gap: 24px;

        grid-template-areas:
        "detail-header-thumbnail detail-header-metadata"
        "detail-header-thumbnail detail-header-menu";

        .km-detail-header-thumbnail {
          width: 240px;
          height: 240px;

          grid-area: detail-header-thumbnail;

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }

        .km-detail-header-metadata {
          grid-area: detail-header-metadata;

          display: flex;
          flex-direction: column;
        }
        .km-detail-header-menu {
          grid-area: detail-header-menu;
        }
      }
    }
  }
}

