.conconcontainer {
  width: 100px;
}

.concontainer {
  width: 150px;
}

.container {
  position: relative;
  width: 500px;
  padding-bottom: 40%;
  background-color: beige;
}


.container-2{
  width: 200px;
}

.img-item {
  padding-bottom: 40%;
  background-image: url('./말랑이png.png');
  background-size: contain;
  background-repeat: no-repeat;
}