@import './reset.css';
@import './common.css';

html{height: 100%;}
header {position: fixed; width: 100%; z-index: 2;}

.purple-btn-3{
  color: #fff;
  background-color: #8313dd;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 12.5rem;
  transition: color .3s,background-color .3s;
}

.purple-btn-3:hover{
  background-color:#6558f5;
}

.purple-btn-3:visited{
  color: #fff;

}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
  align-items: center;

  background-color: rgba(255, 255, 255, 0);
  /* opacity: 0; */

  /* transition: ; */
}

.header-wrapper .logo{
  margin-right: 1.5rem;
  display: flex;
  align-items: center;

}


.header-wrapper .signup-button{
  margin-left: 1.5rem;
  padding: .65rem 1.25rem;

  color: #fff;
  background-color: #8313dd;
  border-radius: 12.5rem;
  padding: 1rem 2rem;
  font-family: Inter,sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s,background-color .3s;
  display: flex;
  box-shadow: 0 1px 4px rgba(10,10,10,.12);
}

.header-wrapper .signup-button:hover{
  color: #fff;
  background-color: #6558f5;
}

#header-dropdown-nav{
  background-color: #fff;
  z-index: 3;
}

.header-nav-wrapper{
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.header-nav-content-wrapper{
  display: flex;
}

.header-nav-button{
  display: flex;
  color: black;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  transition: color .3s;
  cursor: pointer;
}

#header-nav-button-dropdown{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  transition: all 0.7s;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-wrapper nav{
  position: absolute;
  padding: .25rem 3rem .25rem 1.5rem;
  display: none;
}

.dropdown-wrapper nav .dropdown-link{
  padding: 0.75rem 0;
  color: #788896;
  font-size: 1rem;
  font-weight: 400;
}

.header-nav-button.grey{
  font-weight: 400;
  color: #4b5c6b;
}

.header-nav-button:hover{
  color:#8313dd;
}



.main-wrapper-title{
  width: 100%;
  height: 555px;
  max-width: 60rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: Plus Jakarta Sans,sans-serif;
  display: flex;
  position: relative;
  overflow: visible;
}


.section-01{
  color: #fff;
  background-color: #8313dd;

  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

.section-01-wrapper{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
.section-01-title-wrapper{
  font-size: 1.5rem;
  text-align: center;
}

.section-01-title-wrapper .text{
  margin-bottom: 2em;
}

.section-01-banner-wrapper {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

.section-01-banner-item{
  border: 1px black solid;
  width: 230px;
  height: 140px;
  margin: 6px;
  background-image: url('./img/random-logo_01_240x120.png');
}

.section-01-footer-wrapper{
}
.section-01-footer-link-wrapper{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
}
.section-01-footer-link-item{color: #fff; margin: 0;}
.section-01-footer-link-item.icon{
  width: 1rem;
  margin-left: 0.5rem;
}